<div class="view intro-2">
  <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
              <h1>O'zingizga buyursin!</h1>
              <br>
              <a type="button" class="btn btn-success" (click)="foundSmth()" *ngIf="!isRussian">Topib oldim</a>
              <a type="button" class="btn btn-success" (click)="foundSmth()" *ngIf="isRussian">Нашел</a>
              <a type="button" class="btn btn-danger" (click)="lostSmth()" *ngIf="!isRussian">Yo'qotdim</a>
              <a type="button" class="btn btn-danger" (click)="lostSmth()" *ngIf="isRussian">Потерял</a>
          </div>
      </div>
  </div>
</div>

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
      </div>
  </div>

</main>