<div id="loginForm">
  <div class="loginBlock">
    <div class="light-blue white-text">
      <h4>TOPALOQ</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="authorization(f)" class="loginBody" autocomplete="off">
      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input mdbInputDirective type="text" id="modalFormNameEx" name="username" class="form-control" ngModel required>
        <label for="modalFormNameEx">Username</label>
      </div>
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <input mdbInputDirective type="password" id="modalFormEmailEx" name="password" class="form-control" ngModel required>
        <label for="modalFormEmailEx">Password</label>
      </div>
      <div class="text-center mt-1-half">
        <button type="submit" class="btn btn-cyan mb-2 waves-light">Kirish
          <i class="fa fa-sign-in ml-1"></i>
        </button>
      </div>
    </form>
  </div>
</div>