<div id="lostCreate" class="container">
    <h1 *ngIf="isRussian">Потеряль</h1>
    <h1 *ngIf="!isRussian">Topib olindi</h1>
    <!-- <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px">
      <agm-marker></agm-marker>
    </agm-map> -->
  
    <div class="row" style="margin: unset">
      <div class="col-6">
        smth
      </div>
      <div class="col-6">
        <agm-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)"
         style="height: 300px">
        
          <agm-marker *ngFor="let m of markers; let i = index" 
                      (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
                      [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)">
            <agm-info-window>
              <strong>InfoWindow content</strong>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  
  
  </div>
  