<div id="lostCreate" class="container">
  <h3 *ngIf="isRussian">О потерянных вещь</h3>
  <h3 *ngIf="!isRussian">Yo'qolgan buyum haqida</h3>
  <hr>
  <form (ngSubmit)="register()" autocomplete="off" class="row adForm">
    <div class="col-12 row p-0 m-0">
      <!-- <div class=""> -->
        <div class="col-6">
          <p class="miniNtfc" *ngIf="!isRussian">Iltimos quyidagi jadvalni batafsilroq to'ldiring</p>
          <p class="miniNtfc" *ngIf="!isRussian">( <span>*</span> Qo'yilgan o'rinlarni to'ldirish majburiy)</p>
          <p class="miniNtfc" *ngIf="isRussian">Пожалуйста, заполните таблицу ниже подробный</p>
          <p class="miniNtfc" *ngIf="isRussian">( <span>*</span> Поля являются обязательными)</p>
        </div>
        <div class="col-6">
          <p style="font-weight: 400" *ngIf="!isRussian">E'lon egasi:&nbsp;&nbsp;<span style="font-size: 1.75rem">{{firstName + ' ' + lastName}}</span></p>
          <p style="font-weight: 400" *ngIf="isRussian">Владелец объявление:&nbsp;&nbsp;<span style="font-size: 1.75rem">{{firstName + ' ' + lastName}}</span></p>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-6">
      <div class="row">
        <div class="md-form col-6">
          <input mdbInputDirective type="text" id="lostName" class="form-control" name="lostName" [(ngModel)]="nomi" maxlength="40" required>
          <label for="lostName" *ngIf="!isRussian">Yo'qolgan buyum nomi</label>
          <label for="lostName" *ngIf="isRussian">Название потерянного предмета</label>
          <span class="counter">{{20 - nomi.length}} / 20</span>
        </div>

        <div class="col-6 dropSelect">
            <label *ngIf="!isRussian">Bo'limni tanlang</label>
            <label *ngIf="isRussian">Выбирайте рубрика</label>
            <select class="form-control" required>
                <option value="" disabled selected hidden *ngIf="!isRussian">Bo'limlar</option>
                <option value="" disabled selected hidden *ngIf="isRussian">Рубрики</option>
                <option value="type.id" *ngFor="let type of types">{{type.name}}</option>
            </select>
        </div>
      </div>
      <div class="md-form col-6 p-0">
        <input mdbInputDirective type="date" id="lostDate" class="form-control" name="lostDate" [ngModel] ="date | date:'yyyy-MM-dd'" required>
        <label for="lostDate" *ngIf="!isRussian">Yo'qolgan buyum sanasi</label>
        <label for="lostDate" *ngIf="isRussian">Дата потерянного предмета</label>
      </div>
    </div>

    <div class="col-6">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
               [disableDefaultUI]="false" [zoomControl]="false" 
               (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let m of markers; let i = index" 
                    (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
                    [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)">
        </agm-marker>
      </agm-map>
    </div>

    <div class="text-center mt-2">
        <button class="btn btn-info waves-light" mdbWavesEffect>E'lon berish <i class="fa fa-sign-in ml-1"></i></button>
    </div>
  </form>


</div>
