#lostCreate {
    margin-top: 90px;
    padding: unset;
    padding-bottom: 15px;
    border: 1px solid #e0e0e0;
    h3 {
        margin-top: 1rem;
        color: #d63131;
        text-align: center;
    }
    .adForm {
        margin: unset;
        agm-map {
            height: 300px;
        }
        .miniNtfc {
            font-size: 14px;
            font-weight: 400;
            color: #222;
            &:first-of-type {
                margin-bottom: unset;
            }
            span {
                color: red;
                font-size: 16px;
            }
        }
        .row {
            .md-form {
                label{
                    padding-left: 15px;
                }
                .counter {
                    display: inline !important;
                    font-size: 14px;
                    float: right;
                }
            }
            .dropSelect {
                label {
                    color: #757575;
                    font-size: 0.8rem;
                    margin-top: 0.6rem;
                    margin-bottom: unset;
                }
                select {
                    padding: 0.25rem 0.75rem 0.25rem 0rem;
                    height: calc(2rem + 2px);
                    border-right: none;
                    border-left: none;
                    border-top: unset;
                    border-radius: unset;
                    &:active, &:focus {
                        box-shadow: unset

                    }
                }
            }
        }
    }
}